{% extends 'TikitTikitBundle::layout_atro.html.twig' %}

{% block content -%}
    <h1>Petition list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Petitiontitle</th>
                <th>Petitiondescription</th>
                <th>Petitionurl</th>
                <th>Score</th>
                <th>Dateadded</th>
                <th>Status</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('petition_show', { 'url': entity.petitionUrl }) }}">{{ entity.petitionTitle }}</a></td>
                <td>{{ entity.petitionDescription }}</td>
                <td>{{ entity.petitionUrl }}</td>
                <td>{{ entity.score }}</td>
                <td>{% if entity.dateAdded %}{{ entity.dateAdded|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('petition_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('petition_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {#{% if app.user %}#}
            <ul>
                <li>
                    <a href="{{ path('petition_create') }}">
                        Create a new entry
                    </a>
                </li>
            </ul>
        {#{% else %}
        {% endif %}#}
    {% endblock %}
