{% extends '::base.html.twig' %}

{% form_theme form _self %}
{% block text_widget %}
        {% set type = type|default('text') %}
<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} required="required" data-msg-required="Будь-ласка введіть заголовок" class="form-control" placeholder="" />
{% endblock %}
{% block textarea_widget %}
        {% set type = type|default('textarea') %}
<textarea rows="7" cols="50" type="{{ type }}" {{ block('widget_attributes') }} required="required" class="form-control" placeholder="Петиція">{% if value is not empty %}{{ value }}{% endif %}</textarea>
{% endblock %}


{# {% block text_label %}
<label>Заголовок*</label>
{% endblock %} #}
{% block textarea_label %}
<label>Петиція*</label>
{% endblock %}
{% block select_label %}
<label>Заголовок*</label>
{% endblock %}

{% block content -%}

<div class="col-md-12">
    <h2>Створіть Вашу петицію, і поширте її серед друзів!</h2>
    <form action="{{ path('petition_create') }}" method="POST" class="bs-example form-horizontal">
    {# {{ form_widget(form) }} #}
        <fieldset>
        {{ form_errors(form) }}
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
        {{ form_label(form.petitionTitle) }}
        {{ form_widget(form.petitionTitle) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
        {{ form_label(form.petitionDescription) }}
        {{ form_widget(form.petitionDescription) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        {{ form_label(form.captcha, 'Уведіть в поле текст з малюнку:*', {'label': 'Капча'}) }}
                        {{ form_widget(form.captcha) }}
                        {{ form_errors(form.captcha) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
            {{ form_rest(form) }}
            {{ form_errors(form.category) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Зберегти" class="btn btn-primary btn-lg" data-loading-text="Loading...">
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}
