{% extends "TikitTikitBundle::layout_atro.html.twig" %}

{% block title %}{{ page_title }}{% endblock %}

{% block stylesheets %}
<link href="{{ asset('/css/font-awesome.css') }}" rel="stylesheet" type="text/css" />
{% endblock%}

{% block javascripts %}
    <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/js/bootswatch.js') }}"></script>
    <script src="{{ asset('js/petition/index.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="alert">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}

{%for petition in petitions%}
{% set foo %}{{ path('petition_show', {'url': petition.0.petitionUrl}) }}{% endset %}
<div class="row">
    <div class="col-md-12">
    <h3>
        <a class="styleColor" href="{{ path('petition_show', {'url': petition.0.petitionUrl}) }}">{{petition.0.petitionTitle}}</a>
    </h3>
    <p>{{ petition.0.petitionDescription|length > 500 ? petition.0.petitionDescription|slice(0, 300) ~ '' : petition.0.petitionDescription  }}
    {% if petition.0.petitionDescription|length > 300 %}
        <a href="{{ foo }}"> ...... читати далі </a>
    {% endif %}
    <small class="block styleSecondColor">{{petition.0.dateAdded|date('Y-m-d H:i:s')}}</small>
    адресат: <a href="{{path('bycategory', {category: category, page: 1}) }}">{{ petition.categoryName }}</a>
    </p>
    <small class="block styleCoor fsize13">
        <span class="label label-default light"> {{petition.0.score }} Голосів</span>
    </small>
    </div>
</div>
<!-- article summary -->
<hr class="half-margins">
<!-- separator -->
{%endfor%}
        {% if app.user %}
            <input type="hidden" name="user_id" id="user_id" value="{{ app.user.id }}">
        {% endif %}
        <!-- PAGINATION -->
        {% if totalmostpop %}
        {% else %}
        <div class="row">

            <div class="col-md-4 text-left responsive-text-center">
                <p class="hidden-xs pull-left nomargin padding30"><strong>Показуємо</strong> {{ showing_from }}-{{ showing_to }} з {{ total_number }} знайдених.</p>
            </div>
            <div class="col-md-6 text-right">
{% if total_pages > 1 %}
{% set current_filters = { '': '' } %}
{% set extremePagesLimit = 3 %}
{% set nearbyPagesLimit = 2 %}

<ul class="pagination" id="{{ current_page }}">
    {% if current_page > 1 %}
        <li class="prev {%if current_page==1%} disabled{%endif%}"><a href="{{path(pathController, {category: category, page: current_page-1}) }}"><i class="fa fa-chevron-left">Попередня</i></a></li>
    {% endif %}

    {% for i in range(1, extremePagesLimit) if ( i < current_page-nearbyPagesLimit ) %}
        <li><a href="{{path(pathController, {category: category, page: i}) }}">{{ i }}</a></li>
    {% endfor %}

    {% if extremePagesLimit + 1 < current_page - nearbyPagesLimit %}
        <span class="sep-dots">...</span>
    {% endif %}

    {% for i in range(current_page-nearbyPagesLimit, current_page-1) if ( i > 0 ) %}
        <li><a href="{{path(pathController, {category: category, page: i}) }}">{{ i }}</a></li>
    {% endfor %}
    <li class="active"><a href="{{ path(pathController, {category: category, page: current_page }) }}">{{ current_page }}</a></li>

    {% if (current_page < total_pages) %}
        {% for i in range(current_page+1, total_pages) %}
            {% if ( loop.index <= nearbyPagesLimit and i <= total_pages ) %}
                <li><a href="{{ path(pathController, {category: category, page: i}) }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if  (total_pages - extremePagesLimit) > (current_page + nearbyPagesLimit ) %}
            <span class="sep-dots">...</span>
        {% endif %}

        {% for i in range(total_pages-extremePagesLimit+1, total_pages) if ( i > current_page+nearbyPagesLimit ) %}
            <li><a href="{{ path(pathController, {category: category, page: i}) }}">{{ i }}</a></li>
        {% endfor %}
    {% endif %}

    {% if current_page < total_pages %}
            <li class="next {%if current_page==total_pages %} disabled{%endif%}"><a href="{{ path(pathController, {category: category, page: current_page+1}) }}"><i class="fa fa-chevron-right">Наступна</i></a></li>
    {% endif %}

    {% if (current_page == total_pages) %}
    {% endif %}
           
</ul>
{% endif %}                

            </div>
        </div>
        {% endif %}
        <!-- /PAGINATION -->
        
{% endblock %}